<div class="container">
<p style="color: green" class="mt-3"><%= notice %></p>

<h1 style="text-align:center;">Orders</h1>

<br>
<table class="table">
  <thead>
    <tr>
      <th>Nama</th>
      <th>Menu</th>
      <th>Quantity</th>
      <th>Order Date</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @orders.each do |order| %>
    <tr>     
      <td>
          <%= order.customer.name %>       
      </td>
      <td>
          <%= order.menu.name %>       
      </td>  
      <td>
          <%= order.quantity %>       
      </td>
      <td>
          <%= order.order_date %>       
      </td>
      <td>
          <%= order.status %>       
      </td>  
      <td>
          <%= link_to "Show this order", order %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div style="text-align:center;">
  <%= link_to "New Order", new_order_path, :class => "btn btn-primary" %>
</div>
</div>