<div class="container">
<p style="color: green" class="mt-3"><%= notice %></p>

<h1 style="text-align:center;">Categories</h1>

<%= link_to "Back", 'home#index' %>

<br>
<table class="table">
  <thead>
    <tr>
      <th>Category</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <% @categories.each do |category| %>
    <tr>     
      <td>
          <%= category.name %>       
      </td>
      <td>
          <%= link_to "Show this category", category %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
<hr>
<div style="text-align:center;">
  <%= link_to "Add Category", new_category_path, :class => "btn btn-primary" %>
</div>
</div>